
* {
    /* text-align: center; */
    /* align-items: center; */
}
#recent-collection{
    height: 10px;
    padding: 20px;
    text-align: center;
}
#search {
    padding: 0px 40px;
    width: 30%;
    height: 40px;
    margin: 15px;
    border-radius: 30px;
    font-size: large;
}

.asides {
    margin: 20px 10px;
    width: 190px;
    height: 40px;
    text-align: left;
    background-color: lightgray;
    border-radius: 20px;
    padding: 1px 20px;
    /* padding: 10px ; */
}
.recent{
    border-radius: 10px;
    background-color: lightgray;
    margin:0 10px;
    padding: 5px;
    font-size: large;
}
#all {
    background-color: white;
    box-shadow: 0 0 5px;
}
#top-nav {
    height: 80px;
    text-align: center;
}
#aside {
    float: left;
    width: 18%;

}
#content {
    float: right;
    width: 82%;
}
.video {
    display: inline-table;
    width: 20%;
    margin: 10px;
}
.caption {
    width: 18%;
}
img {
    border-radius: 10px;
    width: 250px;
    height: 150px;
}
img:hover {
    box-shadow: 0px 0px 10px ;
}
.video:hover {
    box-shadow: 0px 0px 5px;
}